<div id="container">
  <div class="custom">
    <input type="text" [(ngModel)]="title" placeholder="Add title" />
    <textarea
      [(ngModel)]="content"
      placeholder="Add the content here"
    ></textarea>
    <button (click)="addItem()">Submit</button>
  </div>
  <div id="accordion">
    <div
      class="item"
      [ngClass]="{ active: item.active }"
      *ngFor="let item of items; let index = index"
    >
      <div class="heading" (click)="itemClicked(index)">{{ item.title }}</div>
      <div class="content">{{ item.content }}</div>
    </div>
  </div>
</div>
